<div class="not-content badges">
  <img src="https://badgen.net/static/license/MIT/green" />
  <img src="https://badgen.net/static/npm%20package/0.2.0/green" />
  <img src="https://badgen.net/static/minzipped%20size/702%20B" />
  <img src="https://badgen.net/static/dependencies/0" />
</div>

<style>
  .badges {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .badges img {
    display: inline;
    height: 20px;
  }
</style>
