---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;
---

<a {...Astro.props}>
  <slot />
</a>

<style>
  a {
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: var(--sl-color-accent);
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid var(--sl-color-accent);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }
  a.outline {
    background-color: transparent;
    color: var(--sl-color-accent);
  }
</style>
