<div class="footer">
  <p>Made by <a href="https://bartoszkrawczyk.com/">Bartosz Krawczyk</a></p>
  <p class="license not-content">MIT License</p>
</div>

<style>
  .footer {
    padding-top: 4rem;
    text-align: center;
    opacity: 0.8;
    font-size: 0.8rem;
  }
  .footer p.not-content {
    margin-top: 0;
  }
</style>
